#titlu{
    width:500px ;
    margin: auto;
    border-bottom: 2px red solid;
}

.text{
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}