

.cube{
    position: relative;
    width: 100px;
}
.side{
    height: 95px;
    width: 95px;
    position: absolute;
    text-align: center;
}
.top{
    background: green;
    transform: rotate(-45deg) skew(15deg,15deg);

}
.left{
    background: yellow;
    transform: rotate(15deg) skew(15deg,15deg) translate(-50%,100%);


}

.right{
    background: blue;
    transform: rotate(-15deg) skew(-15deg,-15deg) translate(50%,100%);
}
