#wrapper{
    position: absolute;
    margin-left: 50px;
    margin-right: 50px;
    animation: pulse 1s infinite;
}

.text {
    font-size: 50px;
    font-weight: bold;
}

#heart{
    position: relative;
    width: 100px;
    height: 60px;
    display: inline-block;
}

#heart::before , #heart:after{
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: red;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
  
    animation: pulse 1s infinite;
    animation: pulse2 1s infinite;
}

#heart:after{
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
    animation: pulsecolor 1s infinite;
    animation: pulse 1s infinite;
}

@keyframes pulse{
    10%{transform: scale(1.2);}
}
@keyframes pulse2{
    5%{transform:rotate (-45deg) scale(1.2)}
}

@keyframes pulsecolor{
    10% {background: rgb(255, 80, 80);}
}