.container{
    width: 100px;
    height: 100px;
    overflow: hidden;
    border: 1px solid red;
    transition: width 3s, height 4s;
    transition-delay: 2s;
}
.container:hover{
    width: 100%;
    height: auto;
}