div{
    width: 200px;
    height: 200px;
    margin: 20px;
    padding: 15px;
    border: 2px double red;
    float: left;
}
div:nth-of-type(2n){
    background-color: aquamarine;
    box-shadow: 10px 20px 15px 20px burlywood;
}
#div1 p{
    word-wrap: normal;
}
#div2 p{
    word-wrap: break-word;
}
#div3 p{
    writing-mode: vertical-lr;
}
#div4 p{
    writing-mode: vertical-rl;
}
#div5 p{
    direction: rtl;
    unicode-bidi: bidi-override;
}
#div6 p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.container_aaa{
    max-width: 1224px;
    width: 100%;
    margin: auto;
    display: block;
    float: none;
    height: 100vw;
}