// Colors
$yellow:              #fce473;
$blue:                #1d90ff;
$green:               #32cd32;
$primary-color:       $blue;
$secondary-color:     $yellow;

/* Fonts */
$sans-serif:          "Roboto", "Source Sans Pro", "Open Sans", Arial, sans-serif;
div { 
    border: 5px solid $green;
    font-family: $sans-serif;
    color:$primary-color;
    background-color:$secondary-color;
}
